*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    
    margin: 81px auto;
    width: 900px;
}
.Body_color {
    background-color: green;
    /* margin: auto;
    width: 900px; */
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}
.header_search {
    background-color: white;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
}
.header_search input {
    height: 39px;
    border: none;
    outline: none;
}
.header_search button {
    height: 40px;
    outline: none;
    border: none;
    padding: 5px 20px;
    background-color: yellow;
    border-radius: 20px;
    cursor: pointer;
}
.header_search button i {
    font-size: 1rem;
    color: black;
    cursor: pointer;
}
.header_search button:hover {
    background-color: rebeccapurple;
}
.btn {
    height: 40px;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn:hover {
    background-color: rebeccapurple;
}
.content{
    
}
.content h1 {
    padding-left: 30px;
    color: white;
}
.content_detail img{
    width: 250x;
    height: 250px;
    background-color: white;
    margin: 30px;
    border-radius: 55px;
}
.image {
    
}
.content_detail {
    display: flex;
}
.content_text {
    margin: 30px;
}
.content_text h2 {
    color: white;
    padding-bottom: 30px;
}
.content_text h3 {
    color: white;
    padding: 5px 0px;
}
.content_time {
    padding: 5px 0px;
    display: flex;
    outline: none;
    border: none;

}
.content_time h5 {
    padding-right: 175px;
    color: white;
    font-size: 1.2rem;
    padding-top: 5px;
}
.content_time h6 input{
    
    height: 25px;
    outline: none;
    border: none;
}
.content_time h6 {
    font-size: 1.2rem;
    color: white;
}
.content_time h5 span {
    padding: 2px 9px;
    font-size: 1.2rem;
    background-color: white;
    color: black;
    border-radius: 29px;
    padding-left: 5px;
}
.content_review {
    display: flex;
    margin-top: 10px;
}
.content_list {
    display: flex;
    margin-right: 175px;
}
.content_review h4 {
    color: white;
    font-size: 1.2rem;
     padding-right: 19px;
     padding-top: 5px;
}
.content_review ul {
    display: flex;
    list-style-type: none;
    

}
.content_review ul li {
    font-size: 0.2rem;
    padding: 10px 11px;
    background-color: white;
    border-radius: 20px;
    margin: 5px;
}
.content_button {
    font-size: 1.2rem;
    padding: 5px;
    background-color: gray;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.content_button:hover {
    background-color: blueviolet;
}
.content_watch {
    font-size: 1.2rem;
    color: white;
    text-align: right;
    padding-right: 4px;
    margin-top: 13px;
}
.box {
    background-color: purple;
    display: flex;
    justify-content: space-around;
}
.box_content p{
    color: white;
    font-size: 1.2rem;
}
.box_content {
    padding: 15px;
}
.box_content p:first-child {
    padding-bottom: 15px;
    color: yellowgreen;
}
